html {
  font-size: 16px;
}

body {

background-image: linear-gradient( rgba(6, 15, 24, 0.8),rgba(28, 72, 82, 0.4)),
url("/circuitry-1920.png");
  background-repeat: repeat repeat;
    background-size: contain;

    background-position: center;


}